.news-image__wrapper{
    width: 100%;
    height: auto;
    padding-top: 80%;
    border-color: #f7e6e6;
    position: relative;
}
.news-image{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}