.articles-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
    margin-top: 120px;
}

@media(max-width: 1025px) {
    .articles-wrapper {
        margin-top: 80px;
    }
}

@media(max-width: 1025px) {
    .articles-wrapper {
        margin-top: 60px;
    }
}